.tweet-container {
	position: relative;
	top: 0;
	margin-left: @user-input-width;
	padding-left: 10px;
	z-index: 1;
	.tweet-loading {
		position: relative;
		top: 0;
		margin-top: 30%;
	}
}

.tweet-select {
	&:hover,
	&:focus,
	&.active {
		background-color: #f3f3f4;
		border-left: 2px solid #42A948 !important;
		cursor: pointer;
	}
}

.tweet-item {
	position: relative;
	display: flex;
	flex-direction: row;
	display: block;
	list-style: none;
	padding: 20px;
	
	> li {
		flex: 1;
		padding: 20px;
		.tweet-select();
		.tweet-title {
			font-size: 20px;
			font-weight: 600;
			display: block;
		}
		.tweet-content {
			font-size: 16px;
			.tweet-message {
				display: block;
			}
			.tweet-image {
				border-radius: 100%;
				max-width: 60px;
				float: right;
			}
			.tweet-date {
				font-size: 16px;
				font-weight: 600;
				vertical-align: -15%;
			}
			.fa {
				font-size: 16px;
				padding-left: 20px;
			}
		}
	}
}

.ng-valid[required], .ng-valid.required {
border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
border-left: 5px solid #a94442; /* red */
}



